.cart-item-image {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.cart-item-details {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.cart-item-details h4 {
  margin: 0;
}

.cart-item-details b {
  font-family: "Montserrat", Arial, sans-serif;
  grid-template-columns: 5fr 3fr;
  font-weight: 600;
  font-size: 23px;
  align-items: center;
  justify-content: center;
  color: #13aa52;
}

.cart-item-details p {
  font-size: 22px;
  margin: 0;
}

.cart-item-quantity {
  margin-top: 10px;
}

.cart-item-quantity p {
  font-size: 22px;
  margin: 0;
}

.quantity-button {
  width: 30px;
  height: 30px;
  background-color: transparent !important;
  border-color: transparent !important;
  color: gray !important;
  padding: 0 !important;
  font-size: 24px !important;
  font-weight: bolder !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.quantity-button b {
  transform: translateY(-2px) !important;
}

.quantity-button:hover {
  background-color: rgb(223, 223, 223) !important;
}

.remove-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #ff1a1a;
}

.trash-icon {
  width: 20px;
  height: auto;
}

@media (max-width: 767px) {
  .cart-item-details {
    display: grid !important;
  }

  .cart-item-details h4 {
    font-size: 1.2rem;
  }

  .cart-item-details p {
    font-size: 1.1rem;
    margin: 0;
  }

  .cart-item-details b {
    font-size: 1.1rem;
  }

  .custom-quantity {
    flex-direction: column-reverse;
  }
  .trash-icon {
    width: 17px;
  }
}
