.copy{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-icon{
    margin-inline: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: #514869;
    cursor: pointer;
}

textarea[readonly] {
    width: 400px;
    height: 45px;
    color: #fff;
    background-color: #514869;
    border: 1px solid #00000056;
    padding: 8px;
    border-radius: 10px;
    resize: none;
}
