.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 300px;
  border-radius: 4px;
  padding: 5px;
  border: 0 !important;
  cursor: pointer;
}

.card-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.card h6 {
  font-size: 18px;
  font-weight: 400;
  margin: 10px;
}

.card img {
  border-radius: 8px 8px 0 0;
  width: 210px;
  height: auto;
}

.card b {
  font-family: "Montserrat", Arial, sans-serif;
  grid-template-columns: 5fr 3fr;
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  color: #13aa52;
}

.card-button {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 20px;
  font-weight: 400;
  outline: none;
  padding: 10px 25px;
  text-align: center;
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  margin: 10px;
}

.card-button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.custom-dropdown-toggle {
  background-color: inherit !important;
  border: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  color: #000 !important;
}

.custom-dropdown-toggle:hover {
    background-color: rgb(179, 179, 179) !important;
}

.custom-dropdown-toggle::after {
  display: none !important;
  left: 0% !important;
}


@media (max-width: 767px) {
  .card{
    width: 95%;
    padding: 20px;
  }
}