.header {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
}

.navbar-custom {
  justify-content: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  background-color: #000000;
  border-bottom: 2px solid #00000056;
  font-weight: bold;
  height: 100px;
  padding: 0 15% !important;
  transition: 0.3s;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.nav-link:focus,
.nav-link:active {
  color: #fff !important; /* Mantém a cor ao focar/clicar */
}

.navbar-custom p {
  font-size: 1.3em;
  font-weight: 400;
  margin: 0;
}

.navbar-custom a {
  font-family: "Montserrat", Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.navbar-custom a:hover {
  color: #cab49b !important;
}

.ml-auto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-custom .nav-link,
.navbar-custom .dropdown-toggle-custom {
  padding: 0px !important; /* Ajuste conforme necessário */
  margin: 0; /* Remove margens extras, se houver */
  margin-inline: 2rem;
  color: #fff; /* Garante que a cor do texto esteja correta */
}

.navbar-custom .dropdown {
  display: flex;
  align-items: center;
}

.dropdown-menu-custom {
  width: 100%;
}

.dropdown-menu-custom .dropdown-item {
  padding: 5px 10px; /* Ajuste o padding dos itens do dropdown */
}

.navbar-custom .nav-link,
.navbar-custom .dropdown-toggle-custom {
  text-decoration: none !important;
  position: relative; /* Necessário para o pseudo-elemento ::after */
  color: #fff; /* Cor padrão do texto */
}

.navbar-custom .nav-link::after,
.navbar-custom .dropdown-toggle-custom::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0; /* Garante que a linha esteja no fundo do elemento */
  margin: 0;
  border: 0;
  border-bottom: 1px solid #cab49b !important; /* Assegure-se que esta é a única borda sendo aplicada */
  transform-origin: 0 50%;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar-custom .nav-link:hover::after,
.navbar-custom .dropdown-toggle-custom:hover::after {
  transform: scaleX(1);
}

.navbar-cart .cart-button {
  background-color: inherit;
  border: none;
  padding: 12px 11px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-cart .cart-button:hover {
  background-color: #333333;
}

.navbar-custom .nav-link,
.navbar-custom .dropdown-toggle-custom {
  height: 100%;
  color: #fff; /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado */
  padding: 0.5rem 1rem; /* Ajuste o padding para o mesmo tamanho */
  background: none; /* Remove qualquer fundo padrão */
  border: none; /* Remove borda */
  font-weight: bold; /* Adiciona um estilo de fonte consistente */
  font-family: "Montserrat", Arial, sans-serif;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}

.navbar-custom .nav-link:hover,
.navbar-custom .dropdown-toggle-custom:hover {
  color: #cab49b; /* Cor do texto ao passar o mouse */
  text-decoration: underline; /* Ou mantenha sem sublinhado */
}

.navbar-custom .nav-link.active,
.navbar-custom .dropdown-toggle-custom.active {
  color: #cab49b; /* Cor do texto ativo */
}

.dropdown-menu-custom {
  background-color: #292929 !important; /* Cor de fundo do menu */
  border: 1px solid #00000056; /* Cor da borda */
  border-radius: 5px; /* Borda arredondada, se desejar ajustar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo dos itens do menu */
.dropdown-menu-custom .dropdown-item {
  background-color: #292929;
  color: #fff; /* Cor do texto dos itens */
  font-weight: bold; /* Negrito para os itens */
}

/* Estilo dos itens ao passar o mouse */
.dropdown-menu-custom .dropdown-item:hover {
  background-color: #151515; /* Cor de fundo ao passar o mouse */
  color: #cab49b; /* Cor do texto ao passar o mouse */
}

.cart-button {
  display: flex;
  position: relative;
}

#cart-nav {
  max-width: 30px;
}

.total-items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  min-width: 20px;
  border-radius: 50%;
  background-color: rgb(255, 115, 0);
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.add-product-button {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 !important;
  font-size: 24px !important;
  background-color: #cab49b !important;
  border: 0 !important;
  color: #000 !important;
}

.add-product-button:hover {
  background-color: #b69c78 !important;
}

.add-product-button span {
  color: #000 !important;
}

.add-product-button:hover span {
  color: #000 !important;
}

.offcanvas-custom {
  width: 70% !important;
}

.offcanvas-custom .offcanvas-body {
  display: flex;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.offcanvas-custom .offcanvas-header {
  background-color: #000;
  color: #fff;
}

.offcanvas-custom-item{
  width: 100%;
  gap: 20px;
}

@media (max-width: 767px) {
  .navbar-custom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 9rem;
    padding: 10px 35px !important;
  }

  .cart-button {
    display: inline-block;
  }

  .ml-auto {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .navbar-cart,
  .nav-link {
    margin: 0 !important;
  }

  .dropdown-toggle-custom {
    color: #fff !important;
    background-color: transparent !important;
    border: none !important;
    font-weight: bold !important;
    padding: 0 !important;
    text-decoration: none !important;
  }
  
  .dropdown-toggle-custom:hover {
    color: #cab49b !important;
  }

}
