.product-container{
    height: 85vh;
    padding: 7%;
    padding-bottom: 0;
}
.product-page {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    background-color: #fff;
}

.product-title{
    display: flex;
    align-items: flex-start;
    margin-inline: 15%;
}

.product-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    min-width: 400px;
    max-width: 25rem;
    height: auto;
}

.product-details {
    width: 50%;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.product-price {
    color: #13aa52;
    font-weight: 600;
    font-size: 34px;
}

.add-to-cart {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    width: 220px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    font-weight: 400;
    outline: none;
    padding: 10px 25px;
    text-align: center;
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
} 

.add-to-cart:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.product-description {
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
    max-width: 560px;
}

#cart-image{
    max-width: 23px;
    margin-inline: 6px;
}

.load{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.spinner {
    display: inline-block;
    border: 3px solid rgba(0, 0, 0, 0.2);
    margin: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-left-color: #51473c;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }